.story-container {
    width: 50%;
    background: aliceblue;
    border: 0.5px solid #195A94;
    margin-bottom: 50px;
    transition: 0.3s;
}

.story-content {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    padding: 10px 30px;
}

.story-meta {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}

.story-title {
    font-weight: 600;
    font-size: 25px;
}

.icon-button {
    border: none;
    background: none;
    cursor: pointer;
}

.story-container:hover {
    transform: scale(1);
    box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
}

@media (max-width: 900px) {
    .story-container {
        width: 90%;
    }
}