body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Montserrat';
  font-style: normal; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #195A94; ;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: #195A94;
}
